.paragraph-left {
  float: left;
  width: 49%;
  margin-right: 10px;

}

.img-right {
  float: right;
  width: 37%;
  margin: 2%;
}

.paragraph-right {
  float: right;
  width: 49%;
  margin-left: 10px;

}

.paragraph-playlists {
  float: right;
  width: 300px;
  margin-left: 10px;

}

